%regular-m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

%bold-m{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

%regular-r {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

%lightItalic-r {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;

}

%regular-ks {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}


