//The main colors of the page
$color_pink: #f38181;
$color_yellow: #fce38a;
$color_white: #eaffd0;
$color_turquoise: #95e1d3;
$color_black: #333333;
$color_gray: #999999;

@include reset();

a{
    text-decoration: none;
}

.container{
    @include wrapper();
}

h1{
	@extend %bold-m;
	position: relative;
	margin: 20px 0 50px;
	padding-bottom: 40px;
	text-transform: uppercase;
	font-size: 120px;
	line-height: 0.95;
	color: $color_white;
	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -30px;
		width: 60px;
		height: 2px;
		background: $color_white;
	}
	@include sm-block{
		font-size: 80px;
	}
	@include s-block{
		font-size: 60px;
	}
	@include xs-block{
		font-size: 40px;
	}
}

h2{
	@extend %regular-ks;
	margin: 1em 0 0.28em;
	font-size: 72px;
	color: $color_white;
	@include sm-block{
		font-size: 48px;
	}
	@include s-block{
		font-size: 36px;
	}
	@include xs-block{
		font-size: 24px;
	}
}

h3{
	@extend %bold-m;
	margin: 10px 0 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	color: $color_black;
	&:after{
		content: "";
		margin: 40px auto 40px;
		display: block;
		width: 60px;
		height: 2px;
		background: $color_pink;
	}
}

.h3sub{
	@extend %regular-ks;
	margin: 0 0 10px;
	padding-top: 80px;
	text-align: center;
	font-size: 24px;
	color: $color_black;
}

.h3about{
	@extend %regular-r;
	margin: 40px 0 100px;
	text-align: center;
	font-size: 15px;
	color: $color_gray;
	@include sm-block{
		margin: 30px 0 70px;
	}
}

h4{
	@extend %regular-m;
	font-size: 14px;
	text-transform: uppercase;
	color: $color_black;
}

h5{
	@extend %bold-m;
	text-transform: uppercase;
	font-size: 14px;
	color: $color_black;
}

.header{
	background-image: url('../img/main-banner-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;

	&__items{
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 30px 0;

		&_bg{
			background-color: #f38181;
		}
	}

	&__logo{
		padding: 0 30px;
		@include md-block{
			padding: 0 20px;
		}
		@include sm-block{
			padding: 0 15px;
		}
		@include s-block{
			padding: 0 10px;
		}

		a{
			@extend %bold-m;
			font-size: 30px;
			color: $color_white;
		}
	}
	&__btn{
		@extend %bold-m;
	    padding: 10px 30px;
		box-sizing: border-box;
		background: transparent;
		border: 2px solid $color_white;
		text-transform: uppercase;
		font-size: 14px;
		color: $color_white;
		transition: background .3s;
		&:hover{
			background: rgba(255, 255, 255, .2);
		}
	}
}

.menu{
	z-index: 10;
    @include sm-block{
        position: absolute;
        top: 90%;
        width: 100%;
        left: 0;
        overflow: hidden;
    }
	&__list{
		@extend %regular-r;
		display: flex;
		font-size: 14px;
		text-transform: uppercase;
        @include sm-block{
        	padding-bottom: 30px;
            flex-direction: column;
            background-image: linear-gradient(#f38181,#fce38a);
            transform: translateY(-101%);
            font-size: 18px;
        }
	}
	&__link{
		position: relative;
		padding: 10px 15px;
		display: block;
		color: $color_white;
		transition: all .3s;
	}
	&__item{
		a{
			position: relative;
			padding: 10px 15px;
			display: block;
			color: $color_white;
			transition: all .3s;
			&:hover{
				color: $color_yellow;
				&:after{
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -32%;
					width: 64%;
					height: 2px;
					background: $color_yellow;
					@include sm-block{
						margin-left: auto;
						left: 0;
						width: 100%;
					}
				}
			}
		}
	}

    &_show {
        @include sm-block{
            transform: translateY(0);
        }
    }
}

.menu-bnt{
    display: none;
    position: absolute;
    right: 5px;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    padding-right: 15px;
    background: 0;
    border: 0;
    user-select: none;
    outline: 0;

    @include sm-block{
        display: flex;
        cursor: pointer;
    }
    &__icon{
        position: relative;
        display: inline-block;
        width: 30px;
        height: 3px;
        vertical-align: bottom;
        background: $color_white;
        transition: background .3s .5s;

        &:before{
            top: 10px;
        }

        &:after{
            top: -10px;
        }

        &:before, &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background: $color_white;
            transform-origin: 50% 50%;
            transition: top .3s .3s,transform .3s;
        }

        &_show {
            background-color: transparent;

            &:before {
                transform: rotate3d(0,0,1,45deg);
            }

            &:after {
                transform: rotate3d(0,0,1,-45deg);
            }

            &:before, &:after {
                transition: top .3s,transform .3s .5s;
                top: 0;
            }
        }
    }
}

.banner-slider{
	@include row-flex();
	margin-top: 9em;
	font-size: 16px;
	@include sm-block{
		font-size: 11px;
	}
	@include s-block{
		font-size: 6px;
	}
	&__item{
		@include col();
		@include size(3);
		@extend %regular-m;
		padding: 1.6em 0;
		border-top: 2px solid $color_white;
		text-align: left;
		text-transform: uppercase;
		font-size: 1.3em;
		color: $color_white;

		span{
			@extend %bold-m;
			font-size: 1.5em;
		}
	}
}

.about{
	margin-bottom: 100px;
	.team{
		@include row-flex();
		@include xs-block{
			justify-content: center;
		}

		&__mask{
			position: relative;
			transition: all .5s;
			&:hover{
				transform: translate(-10px, -10px);
			}
			.mask{
				@include maskForImg;
			    flex-direction: column;
				font-size: 18px;
				&:hover{
					opacity: 1;
				}
				i{
					font-size: 1.33em;
					margin: 0.4em;
				}
				span{
					@extend %bold-m;
					display: block;
					font-size: 1em;
					text-transform: uppercase;
				}
			}
		}

		&__item{
			@include col();
			@include size(4);
			@include size-xs(12);
			cursor: pointer;
			transition: background .5s;
			@include xs-block{
				margin: 15px 0;
			}
			&:hover{
				position: relative;
				background: $color_turquoise;
			}
			img{
				vertical-align: middle;
				z-index: 1;
				transition: all ease;
			}
		}
	}
}

.counter{
	background: $color_turquoise;
	&__wrapper{
		display: flex;
	}
	&__item{
		padding: 60px 0;
		width: 20%;
		text-align: center;
		color: #fff;
		border-right: 1px solid #fff;
		&:first-child{
			border-left: 1px solid #fff;
		}

		@include sm-block{
			padding: 30px 0;
		}
		.amount{
			@extend %bold-m;
			display: block;
			font-size: 72px;
			@include sm-block{
				font-size: 40px;
			}
		}
		.description{
			@extend %regular-m;
			padding: 0 10px;
			text-transform: uppercase;
			font-size: 14px;
			@include sm-block{
				font-size: 10px;
			}
			@include xs-block{
				padding: 0;
			}

		}
	}
}

.service{
	&__wrapper{
		@include row-flex();
		margin: 40px 0 120px;

		@include sm-block{
			margin: 40px 0 60px;
		}

		.block{
			@include col-padding();
			@include size(4);
			@include size-sm(6);
			@include size-s(12);
			margin-top: 40px;
			padding-bottom: 40px;
			display: flex;
			&:nth-child(-n+3){
				border-bottom: 1px solid #e5e5e5;
			}

			@include sm-block{
				&:nth-child(-n+4){
					border-bottom: 1px solid #e5e5e5;
				}
			}

			@include s-block{
				&:nth-child(-n+5){
					border-bottom: 1px solid #e5e5e5;
				}
			}

			&__img{
				width: 30%;
				text-align: center;
				@include sm-block{
					width: 25%;
				}

				img{
					width: 40px;
				}
			}
			&__info{
				width: 70%;
				@include sm-block{
					width: 75%;
				}
			}

			&__paragraph{
				@extend %regular-r;
				padding-top: 10px;
				font-size: 14px;
				line-height: 22px;
				color: $color_gray;
			}
		}
	}
}

.design{
	margin-bottom: 80px;
	background-image: url('../img/design-banner-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	@include sm-block{
		margin-bottom: 60px;
	}
	&__imgs{
		position: relative;
		text-align: center;
	}
	&__img-tablet{
		margin-bottom: -4px;
		@include sm-block{
			max-width: 50%;
		}
	}
	&__img-phone{
		position: absolute;
		bottom: 0;
		margin-bottom: -90px;
		left: 50%;
		margin-left: 100px;
		@include sm-block{
			margin-left: 15%;
			margin-bottom: -10%;
			max-width: 25%;
		}
	}
}
.offer{
	&__wrapper{
		@include row-flex();
	}
	&__img{
		@include col();
		@include size(6);
		@include size-sm(10);
		@include shift-sm-left(1);
		@include size-s(12);
		@include shift-s-left(0);
		@include sm-block{
			text-align: center;
			margin-bottom: 30px;
		}
	}
	&__accordion{
		@include col();
		@include size(6);
		@include size-sm(10);
		@include shift-sm-left(1);
		@include size-s(12);
		@include shift-s-left(0);
	}
}

.accordion{
	margin-bottom: 5px;
	&__header{
		padding: 15px 0;
		display: flex;
		align-items: center;
		border: 1px solid #cccccc;
		cursor: pointer;

		img{
			padding: 0 15px;
		}

		i{
			margin-right: 0;
			margin-left: auto;
			padding: 0 15px;
			color: #cccccc;
			font-size: 24px;
		}
	}
	&__info{
		@extend %lightItalic-r;
		display: none;
		padding: 20px 25px 25px 20px;
		border: 1px solid #cccccc;
		border-top: 0;
		font-size: 15px;
		line-height: 24px;
		color: $color_gray;

		//changing defaults styles for scroll
		::-webkit-scrollbar-button {
			background-image:url('');
			background-repeat:no-repeat;
			width:5px;
			height:0px;
		}

		::-webkit-scrollbar-track {
			background-color: transparent;
		}

		::-webkit-scrollbar-thumb {
			-webkit-border-radius: 5px;
			border-radius: 5px;
			background-color:$color_turquoise;
		}

		::-webkit-scrollbar-thumb:hover{
			background-color:#60d2bd;
		}

		::-webkit-resizer{
			background-image:url('');
			background-repeat:no-repeat;
			width:4px;
			height:0px;
		}

		::-webkit-scrollbar{
			width: 7px;
		}
		&_active{
			display: block;
		}
		p{
			padding-right: 20px;
			height: 135px;
			overflow: scroll;
		}
	}
}

.reviews{
	margin-top: 120px;
	background: #f8f8f8;
}
.reviews-slider{
	&__wrapper{
		position: relative;
		padding: 70px 0;
	}
	&__item{
		margin: 0 auto;
		width: 90%;
		display: flex;
		@include s-block{
			flex-direction: column;
		}
	}
	&__icon{
	    min-width: 150px;
	    height: 150px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    border: 2px solid #95e1d3;
	    color: #95e1d3;
	    font-size: 72px;
	    @include s-block{
    	    min-width: auto;
		    width: 100px;
		    height: 100px;
		    align-self: center;
		    margin: 30px 20px;
		    font-size: 60px;
	    }
	}
	&__photo{
		position: relative;
	    min-width: 215px;
	    height: 215px;
	    border-radius: 50%;
		overflow: hidden;

		@include sm-block{
		    min-width: 150px;
    		height: 150px;
    		align-self: center;
		}
		@include s-block{
		    margin: 30px 20px;
	    }
		img{
		    height: 100%;
		    width: auto;
		    max-width: none;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		}
	}
	&__review{
		margin: 0 55px;
		width: 75%;
		@include s-block{
		    margin: 0 20px;
		    width: 90%;
		    text-align: justify;
		}
		@include xs-block{
			margin: 0 25px;
		    width: 80%;
		    font-size: 14px;
		}
		&_photo{
			align-self: center;

			@include sm-block{
				margin: 0 40px;
			}
		}
		p{
			@extend %lightItalic-r;
			padding-bottom: 30px;
			font-size: 24px;
			color: $color_gray;
			@include sm-block{
				font-size: 18px;
			}
			@include s-block{
				font-size: 14px;
			}
		}
		span{
			@extend %regular-ks;
			font-size: 24px;
			color: $color_black;
			&:before{
				content: "";
				margin-right: 10px;
				display: inline-block;
				width: 60px;
				height: 3px;
				background: $color_pink;
			}
			@include s-block{
				font-size: 18px;
			}
		}
	}
	&__btn{
		margin-top: -20px;
		position: absolute;
		top: 50%;
	    color: #cccccc;
		font-size: 20px;
		&_next{
			right: 0;
		}
	}
}
.our-team{
	margin-bottom: 100px;
	&__wrapper{
		@include row-flex();
	}
	.person{
		@include col();
		@include size(4);
		@include size-xs(12);
		text-align: center;

		&__photo{
			cursor: pointer;
			transition: background .5s;
			&:hover{
				background: $color_turquoise;
			}
		}
		&__mask{
			position: relative;
			transition: all .5s;
			&:hover{
				transform: translate(-10px, -10px);
			}
			.social{
				@include maskForImg;
				font-size: 16px;
				&:hover{
					opacity: 1;
				}
				&__item{
					padding: 0.5em;
					font-size: 1.2em;
					background: $color_yellow;
					transition: all .3s;
					&:nth-child(-n+3){
						border-right: 1px solid $color_pink;
					}
					&:hover{
						background: $color_pink;
						a{
							color: #fff;
						}
					}
					a{
						color: $color_pink;
					}
				}
			}
			img{
				vertical-align: middle;
				z-index: 1;
				transition: all .5s;
			}
		}

		&__about{
			margin-top: 30px;
			font-size: 14px;
			.name{
				@extend %regular-m;
				text-transform: uppercase;
				color: $color_black;
			}
			.position{
				@extend %lightItalic-r;
				line-height: 38px;
				color: $color_gray;
			}
		}
	}
}

.logos{
	margin-top: 100px;
	padding: 70px 0;
	background: #f8f8f8;
	@include sm-block{
		padding: 40px;
	}
	&__wrapper{
		@include row-flex();
	}
	&__item{
		@include col();
		@include size(2);
		@include size-sm(4);
		@include size-s(4);
		@include size-xs(6);

		@include sm-block{
			margin-top: 20px;
			margin-bottom: 20px;
		}

		display: flex;
    	justify-content: center;
    	align-items: center;
	}
}

.work{
	position: relative;
	&__offset{
		padding-top: 50%;
		height: 0;
	}
	&__content{
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;

		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		.item{
			position: relative;
			flex: 1 1 50%;
			width: 25%;
		    background-size: cover;
		    background-position: center center;
		    background-repeat: no-repeat;
		    cursor: pointer;

			&_1{
				background-image: url('../img/pic1.jpg');
			}
			&_2{
				background-image: url('../img/pic2.jpg');
			}
			&_3{
				background-image: url('../img/pic3.jpg');
			}
			&_4{
				background-image: url('../img/pic4.jpg');
			}
			&_5{
				flex: 1 1 100%;
				background-image: url('../img/pic5.jpg');
			}
			&_6{
				background-image: url('../img/pic6.jpg');
			}
			&_7{
				background-image: url('../img/pic7.jpg');
			}
		}
		.work-mask{
			@include maskForImg;
			flex-direction: column;
			transition: all .5s;
			font-size: 14px;
			color: #fff;
			&:hover{
				opacity: 1;
			}
			&__name{
				@extend %regular-m;
				margin: 0.7em;
				text-transform: uppercase;
				font-size: 1em;
			}
			&__about{
				@extend %lightItalic-r;
				font-size: 1.1em;
			}
		}
	}
}

.clients{
	background-image: url('../img/bg-clients.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	&__wrapper{
		@include row-flex();

		margin-top: 80px;
		padding-bottom: 100px;

		.client{
			@include col();
			@include size(6);
			@include size-s(12);
			margin-bottom: 30px;
			display: flex;

			@include xs-block{
				margin-bottom: 60px;
				flex-direction: column;
			}

			&__photo{
				flex: 1 0 30%;
			    text-align: center;
			}
			&__opinion{
				flex: 1 1 55%;
				font-size: 14px;
				@include xs-block{
					text-align: center;
				}

				.name{
					@extend %regular-m;
					display: block;
					text-transform: uppercase;
					color: $color_black;
				}
				.pos{
					@extend %lightItalic-r;
					line-height: 38px;
					color: $color_black;
					&:after{
						content: "";
						margin-bottom: 15px;
						display: block;
						width: 60px;
						height: 2px;
						background: $color_pink;
						@include xs-block{
							margin: 0 auto 15px;
						}
					}
				}
				.review{
					@extend %regular-r;
					color: #999999;
				}
			}
		}
	}
}

.blog{
	margin: 40px 0 90px;

	&__wrapper{
		@include row-flex();
	}
}

.story{
	@include col();
	@include size(4);
	@include size-s(12);
	display: flex;
	flex-direction: column;
	@include s-block{
		width: 80%;
		margin: 0 auto 30px;
		text-align: center;
	}

	.story-banner{
		position: relative;
		&__date{
			@extend %bold-m;
			padding: 15px;
		    position: absolute;
		    bottom: 6%;
		    left: -3%;
			background: $color_turquoise;
			font-size: 30px;
			color: #fff;

			span{
				@extend %lightItalic-r;
				display: block;
				font-size: 15px;
			}
		}
	}

	h5{
	    padding: 20px 0;
	}

	&__info{
		@extend %regular-r;
		margin-bottom: 20px;
		font-size: 15px;
		line-height: 25px;
		color: $color_gray;
	}
	&__footer{
		margin: auto 0 0;
		padding: 20px 0;
    	border-top: 1px solid #ccc;
    	@include s-block{
    		text-align: left;
    	}
		i{
			@extend %lightItalic-r;
			color: $color_gray;

			&:before{
				color: $color_turquoise;
			}

			&:first-child{
				padding-right: 10px;
			}
		}
	}
}

.map{
	padding: 60px 0 50px;
	background: url("../img/bg-map.jpg");
	position: center center;
	background-size: cover;
	text-align: center;
	color: $color_pink;

	&__icon{
		font-size: 24px;
	}
	&__link{
		@extend %bold-m;
		margin: 20px 0;
		display: block;
		text-transform: uppercase;
		&:after{
			content: "";
			margin: 20px auto;
			display: block;
			width: 60px;
			height: 2px;
			background: $color_pink;
		}
	}
}

.back-top{
	position: fixed;
	right: 30px;
    bottom: 30px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-size: 18px;
	a{
		color: #cccccc;
	}
}

.footer{
	padding-top: 70px;
	background: #f8f8f8;

	&__wrapper{
		@include row-flex();

		padding-bottom: 70px;
		border-bottom: 1px solid #cccccc;
	}

	&__item{
		&_1{
			@include col();
			@include size(5);
			@include size-sm(12);

			@include sm-block{
				padding-bottom: 70px;
			}
		}
		&_2{
			@include col();
			@include size(4);
			@include size-sm(7);
			@include size-s(12);
		}
		&_3{
			@include col();
			@include size(3);
			@include size-sm(5);
			@include size-s(12);
		}
	}
	&__subhead{
		@extend %regular-m;
		margin-bottom: 40px;
		display: block;
		text-transform: uppercase;
		font-size: 14px;
		color: $color_black;
	}
	&__logo{
		@extend %bold-m;
		margin: 40px  0;
		color: $color_gray;
		font-size: 45px;
	}
	&__info{
		@extend %regular-r;
		margin: 40px 0 50px;
		font-size: 15px;
		color: $color_gray;
	}
	&__follow{
		@extend %regular-m;
		margin: 50px 0 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ccc;
		font-size: 14px;
		color: $color_black;
		span{
			@extend %bold-m;
			font-size: 18px;
		}
	}
	.social{
		margin: 20px 0 40px;
		display: flex;

		&__item{
			margin: 0 5px;
			i{
				color: $color_turquoise;
			}
		}

		&__head{
			@extend %lightItalic-r;
			font-size: 15px;
			color: $color_gray;
		}
	}
}

.article{
	margin: 30px 0;
	display: flex;
	justify-content: space-between;

	&__img{
		img{
			vertical-align: middle;
		}
	}

	&__cont{
	    align-self: center;
    	flex: 1 1 70%;
    	padding: 0 5%;
		align-self: center;
		p{
			@extend %regular-m;
			text-transform: uppercase;
			font-size: 12px;
		}
		span{
			@extend %lightItalic-r;
			font-size: 13px;
			color: $color_gray;
		}
	}
}

.insta-galery{
	margin: 40px 0 20px;
    display: flex;
    flex-wrap: wrap;

	&__item{
		margin: 0 2px 2px 0;
		flex: 1 1 30%;
	    align-self: center;

	    img{
	    	width: 100%;
	    	vertical-align: middle;
	    }
	}
}

.show-link{
	@extend %lightItalic-r;
	font-size: 13px;
	color: $color_gray;
}

.form{
	@include s-block{
		text-align: center;
	}


	&__input{
		@extend %lightItalic-r;
		width: 40%;
		padding: 12px;
		border: 1px solid #cccccc;
		font-size: 15px;
		color: $color_black;
		&::-webkit-input-placeholder{color: #ccc;}
		&::-moz-placeholder{color: #ccc;}
		&:-moz-placeholder{color: #ccc;}
		&:-ms-input-placeholder{color: #ccc;}
	}
	&__btn{
		@extend %bold-m;
		margin-left: -5px;
	    padding: 12px 7%;
		text-transform: uppercase;
		font-size: 14px;
		border: 1px solid $color_turquoise;
		background: $color_turquoise;
		color: #fff;
		cursor: pointer;
	}
}
.copyright{
	@extend %regular-m;
    padding: 25px 0;
    text-align: center;
    font-size: 14px;
    color: $color_black;

    span{
    	color: $color_pink;
    }
}